
body
  font-family:        'Sun-ExtA'
  font-size:          200%

#table-container
  display:            flex
  flex-direction:     row
  flex-wrap:          wrap
  justify-content:    center

.this-col
.this-row
  background-color:   rgba(227, 166, 81, 0.2)

.this-cell
  background-color:   rgba(227, 166, 81, 0.6)
  border:             1px solid red

.auto-space
  background-color:   rgba(150, 50, 50, 0.6)
.block-space
  background-color:   rgba(30, 50, 50, 0.6)
.free-cell
  color:              rgba( 0, 0, 0, 0.3 )

#json-display-doc
#json-display-cells
  border:             1px solid red

#doc-table-plain
#doc-table-sized
  padding-left:       5ex
  padding-right:      5ex

.doc-table
  border-collapse:    collapse

.doc-table td
  box-sizing:         border-box
  -moz-box-sizing:    border-box
  width:              1.3em
  height:             1.3em
  text-align:         center
  vertical-align:     middle
  border: 1px solid rgba( 0, 0, 0, 0.3 )

.size-1
  font-size:          100%
.size-2
  font-size:          200%
.size-3
  font-size:          300%
.size-4
  font-size:          400%

#controller
  position:           fixed


